html {
    font-size: 16px;
}
.mdl-dialog__title {
    font-size: 1.5rem;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; 
    text-align: center;
}

#unsupported-browser {
    display: none;
    background: white;
    width: 75vw;
    max-width: 550px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: center;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px;
    opacity: 1;
}

#unsupported-browser .icon {
    font-size: 52px;
    margin-bottom: 30px;
    margin-top: 15px;
}

#unsupported-browser .error {
    font-size: 1.5vh;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#unsupported-browser .details {
    font-size: 1.3vh;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#marks {
    position: fixed;
    bottom: 15vh;
    width: 100%;
    font-size: 48px;
    text-align: center;
}

#marks table {
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    height: calc(85vw/10);
    table-layout: fixed;
}

#marks td {
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff2;
}

#marks td img {
    max-width: 100%;
    max-height: 100%;
}

#question {
    color: yellow;
    position: fixed;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

#output {
    position: fixed;
    top: 45vh;
}

#question, #output {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
}

#settings-btn {
    color: yellow;
    cursor: pointer;
    font-size: 36px;
    opacity: 0.7;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000;
}

#settings-btn:hover {
    opacity: 1;
}


.mdl-dialog {
    width: 90vw;
    text-align: left;
    max-width: 600px;
}
.mdl-dialog .mdl-textfield, .mdl-dialog input[type="number"] {
    width: 100%;
}

#settings-dialog .operators .mdl-switch {
    width: 30px;
}
#settings-dialog .operators .mdl-switch .mdl-switch__label{
    left: 15px;
}
#settings-dialog .operators .mdl-switch .mdl-switch__label {
    font-size: 1.9em;
    font-weight: bold;
    color: black;
}

#settings-dialog .operators .spacer {
    display: inline-block;
    width: 40px;
}
#settings-dialog .row-spacer {
    display: block;
    height: 20px;
}


#settings-dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

#settings-dialog table {
    font-size: calc(12px + 0.5vh);
}

#settings-dialog td {
    padding-bottom: 20px;
    padding-right: 30px;
}

.op-label {
    font-size: 32px;
}

.fix-label {
    font-size: 10px;
}
