body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; 
    text-align: center;
}

#unsupported-browser {
    display: none;
    background: white;
    width: 75vw;
    max-width: 550px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: center;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px;
    opacity: 1;
}

#unsupported-browser .icon {
    font-size: 52px;
    margin-bottom: 30px;
    margin-top: 15px;
}

#unsupported-browser .error {
    font-size: 1.5vh;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#unsupported-browser .details {
    font-size: 1.3vh;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#marks {
    position: fixed;
    bottom: 15vh;
    width: 100%;
    font-size: 48px;
    text-align: center;
}

#marks table {
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    height: calc(85vw/10);
    table-layout: fixed;
}

#marks td {
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff2;
}

#marks td img {
    max-width: 100%;
    max-height: 100%;
}

#question {
    color: yellow;
    position: fixed;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

#output {
    position: fixed;
    top: 45vh;
}

#question, #output {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
}

#settings-btn {
    color: yellow;
    cursor: pointer;
    font-size: 36px;
    opacity: 0.7;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000;
}

#settings-btn:hover {
    opacity: 1;
}

#permissions-dialog {
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 95vw;
    max-width: 650px;
    text-align: left;
    font-size: calc(12px + 0.9vh);
}
#permissions-dialog::backdrop {
    background-color: black;
    opacity: 0.7;
}
#permissions-close-btn {
    margin-left: auto;
    margin-right: auto;
    font-size: calc(12px + 0.9vh);
    height: calc(36px + 1.1vh);
    line-height: inherit;
}

#about-btn {
    float: right;
    position: relative;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.7;
    z-index: 5000;
}

#about-btn:hover {
    opacity: 1;
}

#about-dialog {
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 95vw;
    max-width: 650px;
    text-align: left;
    font-size: calc(12px + 0.9vh);
}
#about-dialog::backdrop {
    background-color: black;
    opacity: 0.7;
}

#about-dialog h1 {
    font-size: calc(12px + 1.5vh);
}

#about-dialog h2 {
    font-size: calc(12px + 1.2vh);
}
#about-close-btn {
    margin-left: auto;
    margin-right: auto;
    font-size: calc(12px + 0.9vh);
    height: calc(36px + 1.1vh);
    line-height: inherit;
}

#settings-dialog {
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 90vw;
    max-width: 600px;
}


#settings-dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

#settings-dialog table {
    font-size: calc(12px + 0.5vh);
}

#settings-dialog td {
    padding-bottom: 20px;
    padding-right: 30px;
}

.op-label {
    font-size: 32px;
}

input[type=number] {
    width: 60px;
    height: 34px;
    font-size: 18px;
}

.fix-label {
    font-size: 10px;
}

#play-btn {
    font-size: calc(12px + 0.9vh);
    height: calc(36px + 1.1vh);
    line-height: inherit;
}

/* Checkbox Styles */
/* https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3 */
body {
    line-height: 24px;
    box-sizing: border-box;
}

.checkbox {
    padding-right: 10px;
}

.checkbox input[type="checkbox"] {
    float: right;
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 42px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
    height: 30px;
    width: 30px;

    border: 1px solid;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
*to vertically center it.
*/
    top: 0px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 10px;
    width: 18px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);

    left: 7px;
    top: 7px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"]+label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked+label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
}